spring:
  application:
    name: goat

  servlet:
    multipart:
      max-file-size: 10GB
      max-request-size: 10GB

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update